.dashboard-container {
    width: 90%;
    max-width: 900px;
    margin: auto;
    text-align: center;
    padding: 40px 20px;
}

.wallet-info {
    background: var(--input-bg);
    padding: 20px;
    border-radius: 15px;
    backdrop-filter: blur(12px);
    border: 1px solid var(--glass-border);
    box-shadow: 0px 4px 15px var(--shadow-glow);
    margin-bottom: 20px;
}

.wallet-address {
    font-size: 16px;
    color: var(--accent-color);
}

.floating-balance {
    font-size: 2rem;
    font-weight: bold;
    color: var(--text-color);
    text-shadow: 0px 0px 10px var(--shadow-glow);
    margin-bottom: 10px;
}

.dashboard-buttons {
    display: flex;
    justify-content: space-between;
    margin-top: 20px;
    flex-wrap: wrap;
}

.action-btn {
    background: var(--accent-color);
    color: var(--primary-color);
    padding: 12px 20px;
    border-radius: 8px;
    font-weight: bold;
    transition: all 0.3s ease;
    width: 22%;
    min-width: 120px;
    text-align: center;
    border: none;
    cursor: pointer;
}

.action-btn:hover {
    background: #926F0D;
    transform: scale(1.05);
}
